@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.spectral-extralight {
	font-family: 'Spectral', serif;
	font-weight: 200;
	font-style: normal;
}
.font-playfair {
	font-family: 'Playfair Display', serif;
	font-weight: 200;
	font-style: normal;
}

@layer components {
	.nav-link {
		@apply text-gray-600 hover:text-gray-800;
	}

	.nav-button {
		@apply text-sm font-semibold text-gray-600 uppercase hover:text-gray-800;
	}

	.nav-container {
		@apply bg-white px-6 py-4;
	}

	.nav-menu-container {
		@apply fixed top-16 right-0 left-0 z-50 mt-4 w-full bg-white px-6 py-4 shadow-lg;
	}

	.contact-button {
		@apply rounded-full bg-black px-4 py-2 text-sm font-semibold text-white uppercase transition-colors hover:bg-gray-800;
	}

	.search-button {
		@apply text-gray-600 hover:text-gray-800;
	}
}
